.staff_display, .product_display{
	display: flex;
	margin: 20px 25px 10px 25px;
	border-bottom: #ebebeb 2px solid;
	padding-bottom: 10px
}

.staff_text_display, .product_text{
	margin-left: 20px
}

.staff_text_display h4, .product_text h4{
	font-weight: 500;
}

.staff_text_display a{
	color: black;
	text-decoration: none;
}